.containerclass {
    color: white !important;
}

.userclass, .textclass {
    color: white;
    font-size: large;
}

.textclass {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: larger;
    margin-right: 12px;
    font-family: "fantasy", sans-serif;
    text-transform: uppercase;
}
.totalclass{
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: flex-end;
}

.dashboardtable{
    margin-top: 55px;
}
.alert{
    width: 100%;
}