body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color:white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color:white;
}

section.hero {
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/201023012529-wuguan-books-dark-bookstore2.jpg?q=w_1600,h_900,x_0,y_0,c_fill'); /* Replace 'bookstore.jpg' with your image path */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content h2 {
    font-size: 36px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cc5500;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    position: fixed;
    bottom: 0;
    width: 100%;
}
