<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Confirmation Page</title>
    <link rel="stylesheet" th:href="@{/css/registrationConfirmation.css}">
</head>
<body>
<div class="container">
    <h1>Book Addition Successful</h1>
    <div class="user-details">
        <p><strong>Title:</strong><span th:text="${book.title}"></span></p>
        <p><strong>Available Quantity:</strong><span th:text="${book.availableQuantity}"></span></p>
        <p><strong>Price:</strong><span th:text="${book.price}"></span> [[${username}]]</p>
    </div>
    <a th:href="@{/dashboard}" class="btn fw-bold">Back to DashBoard</a>
</div>
</body>
</html>
