<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/dashboard(bookid=-1)}">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/mybooklist}">My Books List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/addbook}">Add Book</a>
                </li>
            </ul>
            <div class="d-flex" role="search">
                <span class="nav-item textclass">[[${session.username}]]</span>
                <form action="#" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>

            </div>
        </div>
    </div>
</nav>
<div th:if="${error!=null}" data-bs-dismiss="alert" class="alert alert-warning alert-dismissible fade show position-absolute" role="alert">
    <strong>Warning</strong> [[${error}]]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<table class="table table-striped container dashboardtable">
    <thead>
    <tr>
        <th scope="col">Name of Books</th>
        <th scope="col">Price</th>
        <th scope="col">Available Quantity</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempbook : ${booklist}">
        <td th:text="${tempbook.title}"></td>
        <td th:text="${tempbook.price}"></td>
        <td th:text="${tempbook.availableQuantity}"></td>
        <td class="d-flex ">
            <form method="post" th:action="@{/addbookaccordingtouser(bookid=${tempbook.getId()})}" action="#">
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
            <form class="ms-4" method="post" th:action="@{/deletingbookfromdashboard(bookid=${tempbook.getId()})}" action="#">
                <button type="submit" class="btn btn-danger">Delete Book</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f0f93f71de.js" crossorigin="anonymous"></script>
</body>
</html>