<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Login Form </title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="title">Login For BookStore</div>
    <div class="content">
        <form action="#" method="post" th:action="@{/login}">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username" name="username" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" name="password" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Login">
            </div>
            <span>Don't have an account then <a th:href="@{/register}">Register!!!!</a></span>
        </form>
    </div>
</div>

</body>
</html>