<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Registration Form </title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="title">Register For BookStore</div>
    <div class="content">
        <form action="#" th:object="${user}" th:action="@{/processregistration}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" th:field="${user.firstName}" placeholder="Enter your first name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" th:field="${user.lastName}" placeholder="Enter your last name" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" th:field="${user.username}" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" th:field="${user.email}" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" th:field="${user.password}" placeholder="Enter your password" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
        <span>Already Registered then Login <a th:href="@{/login}">Login!!</a></span>
    </div>
</div>

</body>
</html>